body {background-color: rgb(255, 255, 255);}

@media screen and (min-width: 600px) { 
   .part1 {color: rgb(55, 216, 22)}
   .part2 {color: rgb(10, 199, 95);}
   .part4 {color: rgb(123, 255, 0);}
   .part3 {color: rgb(133, 255, 96);}
}
@media screen and (max-width:600px) {
    body {background-color: rgb(1, 90, 5);}
    .part4 {color: rgb(255, 255, 255);}
}

    .part2 {border-color:rgb(22, 156, 245);
    border-style: double;
    border-width: 6px;
}
.part2 {margin-right: 20%;}